/*Title style*/
.nav h1 a{
	text-decoration: none;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 30%;
}
/*nav bar style*/
.nav {
	display: flex;
	position: relative;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 10px;
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: #F35B04;
}
ul {
 	list-style-type: none;
}
.nav li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.6vw;
	transition: 0.3s;
}
.nav li a:hover {
	text-decoration: none;
	font-size: 1.6vw;
	color: #000000;
	transition: 0.3s;
}
.nav li {
 	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
/*Info section style*/
.info{
	width: 70%;
	margin-left: 10%;
}
/*Contact links style*/
a {
	color: #0027B4;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

/*Rest of the page's style*/
body {
	background-color: #A499B3;
 	font-size: 1.2vw;
	font-family: 'Work Sans', sans-serif;
	color: #000000
}

@media (max-width : 770px ){
	body{
		font-size: 2.2vw;
	}
}

@media (max-width : 601px ){
	.nav li a {
		font-size: 2.6vw;
	}
	.nav li a:hover {
		font-size: 2.6vw;
	}
}

@media (max-width : 426px ){
	body{
		font-size: 3.2vw;
	}
	.nav li a {
		font-size: 3.6vw;
	}
	.nav li a:hover {
		font-size: 3.6vw;
	}
}
